// ==========================================================================
// Extends
// ==========================================================================

// Center alignment
%center-align {
    text-align: center;
}

// Clearfix

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Nav Extends Items

%nav-item-horz {
    @include mq(medium) {
        display: inline-block;
        margin: 0 em(12px);
    }
}

%nav-item-link {
    text-align: center;
    font-size: em(18px);
    font-weight: $font-weight--light;
    display: block;
    padding: em(8px, 18px);
    border: 1px solid transparent;
    transition: $trns-duration;
    @include mq(small) {
        padding-top: em(14px, 18px);
        padding-bottom: em(14px, 18px);
    }
}
%nav-item-on {
    background: $viking;
    border-radius: 2px;
    
}

// Buttons Extends

%btn {    
    padding: 15px 30px;
    border: 0;
    border-radius: $br--default;
    color: $white;
    text-transform: uppercase;
    font-size: em(14px);
    font-weight: $font-weight--medium;
    transition: opacity $trns-duration;
    display: block;
    &:hover {
        opacity: .75;
    }
    &:active {
        opacity: initial;
    }
}

// Headlines

%hdln-prim {
    font-weight: $font-weight--light;
    font-size: em(42px);
    line-height: (46px / 42px);
    margin-bottom: em(70px, 42px);
    color: $color-accent;
    margin-top: 0;
}

%hdln-sec {
    font-family: $font-family--secondary;
    font-weight: $font-weight--thin;
    font-size: em(24px);
    color: palette(grey, light);
}

// Panels

%panel-default {
    padding-top: em(30px);
    @include mq(medium) {
        padding-bottom: em(20px);
        }
    }

    %panel-padding {
    padding-top: em(34px);
    @include mq(medium) {
        padding-top: em(80px);
        padding-bottom: em(34px);
    }
}


