// =====================================
// Buttons Styles
// =====================================
.btn {
    @include bg-colors($ui-colors);   
}

.link {
    color: $scooter;
}

[class^="btn--"] {
    @extend %btn;
    margin-bottom: em(20px, 14px);
    width: auto;
    display: block;
    margin-right: em(15px, 14px);
}

