// ==========================================================================
// Grids
// ==========================================================================

// Center elements 

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
  
// Screen reader text

.srt {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// For pseudo-elements

%pseudos {
  display: block;
  content: ''; 
  position: absolute;
}

// Panel

.panel {

  @extend %panel-default;
  @include m(centered) {
    @extend %panel-default;
    @extend %center-align;
  }
  
  @include m(padded) {
    @extend %panel-padding;
    @include m(centered) {
      @extend %panel-padding;
      @extend %center-align;
    }
  }
  
} 

// ==========================================================================
// Grids Columns
// ==========================================================================

// Calculate Grid Columns

.grid__col {
  @include mq(medium) {
    @include g-columns;
  }
}

// Column Styles

[class^="grid__col--"] {
  @include mq(small) {
    margin-top: em(12px);
    margin-bottom: em(12px);
  }

  @include mq(medium) {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    &:last-of-type {
      float: right;
    }
  }
}

// ==========================================================================
// Grids Containers
// ==========================================================================

.grid {
  @extend %clearfix;
  @extend .centered;
  width: 90%;

  // Nested Grid to 100%

  [class*="grid__col--"] > & {
    width: 100%;
  }

  // Set the Max Grid Container
  @include mq(large) {
    max-width: $g-cont-max-w;
  }
}
