// =====================================
// Images Styles
// =====================================

.img {

    @include m(wrap) {
        border: 1px solid palette(grey, x-light);
        padding: em(12px);
    }

    @include m(avatar) {
        display: block;
    }
    
}