// =====================================
// Images Styles
// =====================================

// Site Logo

.site-logo {
    @extend .centered;
    margin-bottom: 2em;
    @include img-replace("logo.png", 150px, 85px, flex);
    z-index: 999;
}
// Images 

.img {
    @extend .centered;
    @include m(wrap) {
        @extend .centered;
        border: 1px solid palette(grey, x-light);
        padding: em(12px);
    }

    @include m(avatar) {
        @extend .centered;
        display: block;
    }
    
}