// ==========================================================================
// Main Styles
// ==========================================================================

// Layout
.container {
    max-width: em(1000px);
    margin: 0 auto;
    padding: 0 em(15px) em(50px) em(15px);
}

// Site Logo

.site-logo {
    margin-bottom: 2em;
    @include img-replace("logo.png", 150px, 85px, flex);
}

// Icon Toggle

.icn-toggle {
    @include p-el(before, 25px, 3px) {
        background: palette(grey, light);
        top: 4px;
    }
    width: 25px;
    height: 17px;
    position: absolute;
    border-top: solid 3px palette(grey);
    border-bottom:  solid 3px palette(grey);
}